<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create car</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .error {
      color: rgba(255,0,0,0.91);
    }
  </style>
</head>
<body>

<div th:insert="navbar :: navbar"></div>

<form th:object="${car}" th:action="@{/cars/}" method="post">
  <input name="id" type="hidden" th:field="${car.id}"/>
  <div class="container mt-3">

    <div class="panel-heading mt-2 ml-2">
      <h2 class="panel-title">Create a new car</h2>
    </div>

    <div class="panel panel-primary mt-2">

      <div class="panel-body mt-2">

        <div class="container">
          <div class="row">
            <div class="col col-md-3">

              <div>
                <label>Type:</label>
                <select id="carType" name="carType" class="form-control" th:field="*{type}" />
                  <option disabled selected th:value="null">-- Select a type --</option>
                  <option
                          th:each="carType:${T(com.uxui.carwash.model.CarType).values()}"
                          th:value="${carType}" th:text="${carType.description}"
                          th:selected="${car.type != null && car.type eq carType}">
                  </option>
                </select>
                <label th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
                       type="error" class="error text-danger">
                  Error
                </label>
              </div>

              <div style="margin-top: 15px">
                <label>License place:</label>
                <input name="licensePlate" type="text" min="1" class="form-control"
                       th:field="*{licensePlate}" placeholder="License plate"/>
                <label th:if="${#fields.hasErrors('licensePlate')}"
                       th:errors="*{licensePlate}" type="error" class="error text-danger">
                  Error
                </label>
              </div>
            </div>
          </div>

          <div th:if="${api_error} != null" class="row row mt-2">
            <label th:text="${api_error}" type="error"
                   class="error text-danger col-md-4">
              Error
            </label>
          </div>

          <div class="row">
            <div class="col-md-12 ml-md-auto mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
</body>
</html>