<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navigation bar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Car wash</a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/users/current}" th:classappend="${#httpServletRequest.getRequestURI() == '/users/current' ? 'active':''}">Profile</a>
            </li>

            <li sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/users}" th:classappend="${#httpServletRequest.getRequestURI() == '/users' ? 'active':''}">Users</a>
            </li>

            <li>
                <a class="nav-link" th:href="@{/jobs}" th:classappend="${#httpServletRequest.getRequestURI() == '/jobs' ? 'active':''}">Services</a>
            </li>

            <li sec:authorize="hasAnyRole('ADMIN', 'CLIENT')" >
                <a class="nav-link" th:href="@{/cars}" th:classappend="${#httpServletRequest.getRequestURI() == '/cars' ? 'active':''}">Cars</a>
            </li>

            <li sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/employees}" th:classappend="${#httpServletRequest.getRequestURI() == '/employees' ? 'active':''}">Employees</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/appointments}" th:classappend="${#httpServletRequest.getRequestURI() == '/appointments' ? 'active':''}">Appointments</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/users/form}" th:classappend="${#httpServletRequest.getRequestURI() == '/users/form' ? 'active':''}">Register</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login-form}" th:classappend="${#httpServletRequest.getRequestURI() == '/login-form' ? 'active':''}">Login</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/perform-logout}" th:method="POST" >
                    <button class="nav-link" style="background:none; border:none; cursor: pointer; outline: none;" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>